annotated-types==0.7.0
asgiref==3.10.0
billiard==4.2.2
blinker==1.9.0
browser-cookie3==0.20.1
certifi==2025.10.5
charset-normalizer==3.4.4
click==8.3.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
Django==5.2.7
greenlet==3.2.4
gunicorn==23.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
kombu==5.5.4
lz4==4.4.5
MarkupSafe==3.0.3
packaging==25.0
pillow==11.3.0
playwright==1.55.0
prompt_toolkit==3.0.52
pycryptodomex==3.23.0
pydantic==2.12.3
pydantic_core==2.41.4
pyee==13.0.0
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.32.5
shadowcopy==0.0.4
six==1.17.0
sqlparse==0.5.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
vine==5.1.0
wcwidth==0.2.14
Werkzeug==3.1.3
whitenoise==6.11.0
