{% extends 'base.html' %}
{% block title %} About Us {% endblock %}
{% block content %}
<section class="us">
    <div class="overlay"></div>
    <div class="us-info">
        <h2>Who we are</h2>
        <p>Empowering our community through fitness and wellness</p>
    </div>
</section>
<section class="our-story">
    <div class="our-story-info">
        <h2>Our Journey</h2>
        <p>We began in 2018 with a mission to create a welcoming space for all fitness levels. What started as a small gym has ggrown into a community of over <b>1,000 members</b> committed to healthier living.</p>
    </div>
</section>
<section class="our-mission">
    <div class="our-mission-info">
        <h2>Our Mission & Values</h2>
        <p>We are not the army but we got missions</p>

    </div>
</section>
{% endblock %}