{% extends 'base.html' %}
{% block title %} Contact Us {% endblock %}
{% block content %}
<section class="contact">
    <div class="contact-info">
        <h2>We'd love to hear from you</h2>
        <p>Don't be shy - get in touch, visit us or follow us online</p>
    </div>
    <div class="contact-form">
        <form action="" method="post">
            {% csrf_token %}
            <h3>Contact Us</h3>
            <div>
                <label for="name">Name:</label>
                <input type="text" name="name" id="email" placeholder="Enter Your Good Name">
            </div>
            <div>
                <label for="email">Email:</label>
                <input type="email" name="email" id="" placeholder="Email goes here">
            </div>
            <div>
                <label for="phone">Phone Number</label>
                <input type="tel" name="phone" id="" placeholder="We promise not to prank call you">
            </div>
            <div>
                <label for="msg">Message</label>
                <textarea name="msg" id="" placeholder="Tell us something, we are open to suggestions"></textarea>
            </div>
            <button class="contact-btn">Send Message</button>
        </form>
    </div>
</section>
<section class="contact-details">
    <h4>Phone</h4>
    <p>+2547</p>
    <h4>Email</h4>
    <p>skylinefitness@business.com</p>
    <h4>Address</h4>
    <p>Skyline FItness, Eldoret - Soy</p>
    <h4>Opening hours</h4>
    <ul>
        <li>Mon - Fri: 5AM - 10PM</li>
        <li>Sat - Sun: 6AM - 8PM</li>
    </ul>

</section>
<section class="google-map"></section>
<section class="social">
    <div class="social-info">
        <h2>Follow Us</h2>
    </div>
</section>
{% endblock %}