{% extends 'base.html' %}
{% block title %} Facilities and Amenities {% endblock %}
{% block content %}
<section class="rules">
    <div class="rules-info">
        <h2>Rules</h2>
        <ol>
            <li>Say my name baby</li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ol>
    </div>
</section>
{% endblock %}