:root {
    /* PRIMARY */
    --electric-blue: #007bff;  /* CTAs, uttons, Links, Highlight */
    --dark-navy: #1a1f36; /* Headers, Navigation, footer bg */

    /* SECONDARY */
    --vibrant-orange: #ff6f3c; /* Accents, Icons, Hover */
    --light-gray: #f5f7fa; /* BGs, Cards, Sections */
    
    /* Neutral Colors */
    --charcoal-gray: #333333;
    --white: #ffffff;

    /* Font Sizes */
    --fs-1: 3.8rem;
    --fs-2: 3rem;
    --fs-3: 2.5rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.5rem;
    /* --fs-7: 1.2rem; */

    --fw-900: 900;
    --fw-800: 800;
    --fw-700: 700;
    --fw-500: 500;


}


@font-face {
  font-family: Boogaloo-Regular;
  src: url('../fonts/Boogaloo-Regular.ttf'); 
}

@font-face {
  font-family: Meriaenda-Bold;
  src: url('../fonts/Meriaenda-Bold.ttf'); 
}

@font-face {
  font-family: Merienda-Medium;
  src: url('../fonts/Merienda-Medium.ttf'); 
}

body {
    background-image: url("../img/Img_account.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Merienda-Medium;
    /* font-family: Boogaloo-Regular; */
}

.loadScreen {
    width: 100%;
    height: 100dvh;
    background: #000;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 60%;
    height: 300px;
    /* background: teal; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.spinner {
    width: 100px;
    aspect-ratio: 1/1;
    /* border: 4px solid var(--charcoal-gray); */
    border-radius: 50%;
    /* background: yellow; */
    animation: pulse 1.2s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(0.9);
        border: 4px solid var(--electric-blue);
    }
    50% {
        transform: scale(1.2);
        border: 4px solid var(--vibrant-orange);
    }
    100% {
        transform: scale(0.9);
        border: 4px solid var(--electric-blue);
    }
}

.spinner-text p {
    text-align: center;
    color: var(--vibrant-orange);
    font-size: var(--fs-5);
    animation: cham 1.2s ease-in-out infinite;
}

@keyframes cham {
    0% {
        color: var(--vibrant-orange);
    }
    50% {
        color: var(--electric-blue);
    }
    100% {
        color: var(--vibrant-orange);
    }
}

/* Scrollbar */

/* ::-webkit-scrollbar-track {
    background: var(--electric-blue);
}

::-webkit-scrollbar-thumb {
    background: var(--vibrant-orange);
} */

* {
    /* scrollbar-color: var(--vibrant-orange) var(--electric-blue); */
    scrollbar-color: var(--electric-blue) var(--dark-navy);
}

.wrapper {
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 0%, 0.8);
    position: relative;
    overflow: auto;
    scroll-snap-type: y mandatory;
    /* scrollbar-width: thin; */
}


.container {
    width: 90%;
    padding: 0 5%;
    color: var(--white);
    z-index: 2;
    position: absolute;
}

@media (max-width:600px) {
    .container {
        padding: 0;
        width: 100%;
    }
}
/* 
@media (max-width:768px) {

} */

header {
    font-size: var(--fs-6);
    position: sticky;
    top: 0;
    padding: .5rem 0;
    background: transparent;
    backdrop-filter: blur(10px);
    z-index: 9;
    text-align: center;
    mix-blend-mode: difference;
    display: flex;
    justify-content: center;
}

.nav-btn {
    width: 50px;
    height: 50px;
    background: var(--electric-blue);
    position: absolute;
    top: 70%;
    border-radius: 10px;
    z-index: 3;
    cursor: pointer;
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: translateY(15px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(15px);
    }
}

nav {
    width: 100%;
    height: 0;
    background: var(--dark-navy);
    position: fixed;
    left: 0;
    top: 100%;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

nav ul {
    margin-top: 50px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav ul a li {
    list-style-type: none;
}

nav.active {
    height: auto;
}

@media (max-width:600px) {
    header {
        width: 80%;
        padding: .5rem 10%;
    }

    nav ul {
        flex-direction: column;
        gap: 15px;
    }
}

footer {
    background: var(--dark-navy);
    width: 90%;
    padding: .5rem 5%;

}

footer .footer-title {
    width: 100%;
    padding: .5rem 0;
    text-align: center;
    text-transform: uppercase;
}

footer .footer-others {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
}

footer .footer-other {
    width: 300px;
    position: relative;
    height: 300px;
    display: flex;
    justify-content: center;
}

footer .footer-other::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -5%;
    background: var(--electric-blue);
}

footer .footer-other:nth-child(odd):after {
    background: var(--vibrant-orange);
}

a {
    text-decoration: none;
    color: var(--electric-blue);
}

a:hover {
    color: var(--vibrant-orange);
    text-decoration: underline;
}

section {
    width: 100%;
    min-height: 650px;
    margin-bottom: 10px;
}

.hero-img {
    background-image: url("../img/video-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    min-height: 650px;
    position: relative;
    margin: 0;
    padding: 0;   
}

.us {
    background-image: url("../img/video-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    position: relative;
}

.overlay {
    background: hsla(0, 0%, 0%, 0.8);
    width: 100%;
    height: 100%;
    /* z-index: 3; */
    position: absolute;
}

.hero-img::after {
    content: "";
    width: 100%;
    height: 10px;
    background: linear-gradient(90deg, var(--electric-blue), var(--vibrant-orange));
    position: absolute;
    bottom: -1%;
}


@media (max-width:768px) {
    .hero-img {
        background-image: url("../img/Block_2.jpg");
        background-size: 100% 100%;
        min-height: 500px;
    }
    
}

.us-info {
    z-index: 5;
    position: absolute;
}

.hero-info, 
.features-info,
.about-us-info,
.membership-info,
.us-info,
.our-story,
.our-mission,
.class-intro-info {
    width: 100%;
    padding: .5rem 0;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.hero-info h2, 
.features-info h2,
.about-us-info h2,
.membership-info h2,
.us-info h2,
.our-story-info h2,
.our-mission h2,
.class-intro-info h2 {
    color: var(--vibrant-orange);
    text-align: center;
    font-size: var(--fs-3);
}

.hero-info p, 
.features-info p,
.about-us-info p,
.membership-info p,
.us-info p,
.our-story-info p,
.our-mission p,
.class-intro-info p {
    font-size: var(--fs-4);
    text-align: center;
}

.hero-info p, 
.hero-info h2, 
.features-info h2, 
.features-info p,
.about-us-info h2, 
.about-us-info p,
.membership-info h2,
.membership-info p,
.us-info h2,
.us-info p,
.our-story-info h2,
.our-story-info p,
.class-intro-info h2,
.class-intro-info p {
    margin: unset;
}

.feature-cards, 
.membership-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    padding: .5rem 0;
}

.feature-cards .card, 
.membership-cards .card {
    width: 300px;
    height: 400px;
    background: var(--light-gray);
    border-radius: 10px;
    box-shadow: 0 4px 10px hsla(0, 0%, 100%, 0.911);
}

.feature-cards .card:hover,
.membership-cards .card:hover {
    transform: scale(1.025);
}

@media (max-width:768px) {
    .hero-info h2,
    .features-info h2,
    .about-us-info h2,
    .membership-info h2,
    .us-info h2,
    .our-story-info h2,
    .class-intro-info h2 {
        font-size: var(--fs-4);
        font-family: var(--fw-800);
    }

    .hero-info p,
    .features-info p,
    .about-us-info p,
    .membership-info p,
    .us-info p,
    .our-story-info p,
    .class-intro-info p {
        padding: 0 5%;
        width: 90%;
        font-size: var(--fs-6);
        text-align: center;
    }

    .loader {
        width: 100%;
    }

    .spinner-text p {
        font-size: var(--fs-6);
    }
}

.cta {
    background: var(--electric-blue);
    width: 12rem;
    padding: 1rem 10px;
    font-size: var(--fs-6);
    border-radius: 50px;
    border: 1px solid var(--electric-blue);
    color: var(--white);
}

.cta:hover {
    border: 1px solid var(--vibrant-orange);
    background: var(--vibrant-orange);
}

.cta:focus {
    background: var(--dark-navy);
    color: var(--white);
}

@media (max-width:768px) {
    .cta {
        font-size: 1.125rem;
    }
}

/* 
@media (max-width:768px) {

} */
