{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | GYM</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="wrapper">
        <div class="container">
        <header>
            <h3>Skyline Fitness</h3>
        </header>
            {% block content %}
            {% endblock %}
        <footer>
            <div class="footer-title">
                <h3>Skyline Fitness</h3>
            </div>
            <div class="footer-others">
                <div class="footer-other">Contact</div>
                <div class="footer-other">Social</div>
                <div class="footer-other">Quick Links</div>
            </div>
        </footer>
        </div>

    </div>

</body>
</html>