{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Skyline fitness is a GYM facility located along Eldoret - Kitale highway opposite Galana Fuel station, soy">
    <title>{% block title %}{% endblock %} | GYM</title>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
    <div class="loadScreen">
        <div class="loader">
            <div class="spinner"></div>
            <div class="spinner-text">
                <p>Loading content</p>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container">
        <header>
                <h3>Skyline Fitness</h3>
            <div class="nav-btn"></div>
            <nav>
                <ul>
                    <a href="{% url 'landing' %}">
                        <li>Home</li>
                    </a>
                    <a href="{% url 'about' %}">
                        <li>About Us</li>
                    </a>
                    <a href="{% url 'contact-us' %}">
                        <li>Contact</li>
                    </a>
                    <a href="{% url 'facilities' %}">
                        <li>Facilities</li>
                    </a>
                    </a>
                    <a href="{% url 'classes' %}">
                        <li>Classes and Schedule</li>
                    </a>
                </ul>
            </nav>
        </header>
        <div class="nav-overlay"></div>
            {% block content %}
            {% endblock %}
            <div class="whatsapp-btn"></div>
        <footer>
            <div class="footer-title">
                <h3>Skyline Fitness</h3>
            </div>
            <div class="footer-others">
                <div class="footer-other">
                    <h4>Contact</h4>
                    <ul>
                        <a href="">
                            <li>Email</li>
                        </a>
                        <a href="">
                            <li>Whatsapp</li>
                        </a>
                        <a href="">
                            <li>Call</li>
                        </a>
                        <a href="">
                            <li>SMS</li>
                        </a>
                    </ul>                    
                </div>
                <div class="footer-other">
                    <h4>Social</h4>
                    <ul>
                        <a href="#">
                            <li><i class="fa fa-youtube"></i> Youtube</li>
                        </a>
                        <a href="">
                            <li><i class="fa fa-trash"></i> Tiktok</li>
                        </a>
                        <a href="">
                            <li>Instagram</li>
                        </a>
                        <a href="">
                            <li>Facebook</li>
                        </a>
                    </ul>
                </div>
                <div class="footer-other">
                    <h4>Quick Links</h4>
                    <ul>
                        <a href="{% url 'landing' %}">
                            <li>Home</li>
                        </a>
                        <a href="{% url 'classes' %}">
                            <li>Classes and Schedule</li>
                        </a>
                        <a href="{% url 'about' %}">
                            <li>About us</li>
                        </a>
                        <a href="{% url 'facilities' %}">
                            <li>Facilities</li>
                        </a>
                    </ul>

                </div>
            </div>
            <div class="copyright">
                <p>&COPY;</p><p>All Rights Reserved</p>
            </div>
        </footer>
        </div>

    </div>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
</body>
</html>